.keyboard {
  display: flex;
  flex-flow: column;
  row-gap: 0.8rem;
  background: #414141;
  padding: 1rem;
  border-radius: 1rem;

  &__row {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    gap: 0.6rem 0.8rem;
  }

  &__key {
    min-width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    color: rgba(255, 255, 255, 70%);
    background: #252525;
    border: 1px solid #252525;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: border 0.1s, background 0.3s, transform 0.3s;

    &:hover {
      background: #38383d;
      border: 1px solid rgba(255, 255, 255, 15%);
    }
  }

  .active {
    background: #47474d;
    border: 1px solid rgba(255, 255, 255, 15%);
    transform: scale(0.95);
  }
}

.hidden {
  display: none;
}