.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  height: 20rem;
  width: 70rem;
  margin-bottom: 2rem;
}

p {
  margin: 1rem 0 0;
  padding: 0;
}

h1 {
  color: #47474d;
}